.imageSearch{
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
}

.imageSearch__form input{
    margin: 0 auto;
    background-color: rgb(36, 33, 33);
    border: transparent;
    border-radius: 20px;
    padding-bottom: 18px;
    padding-top: 18px;
    padding-left: 18px;
    width: 55%;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 16px;
    color: rgb(255, 243, 243);
    margin-right: 10px;
    font-size: 20px;
    line-height: 20px;
}
.imageSearch__form input:focus{
         outline: none;
         

}
button{
    border: none;
    width: 100px;
    background: snow;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    padding: 13px ;
    border-radius: 35px;
    cursor: pointer;

}
button:focus{
    outline: none;
}
button:hover{
    background-color: black;
    color: silver;
    

}